body {
    font-family: Helvetica,Arial,sans-serif;
    margin: auto;
    max-width: 960px;
    background: #ffffff;
    color: #000000;
    text-align: center;
}

a {
    color: #4989dc;
}

a:visited {
    color: #00487c;
}

a:active, a:hover {
    color: #0496ff;
}